.icon {
    width: 150px;
}
.shop{
    width: 30px;
    margin: 5px;
}
.btn-cta {
    background-color: #fff;
    font-weight: 600;
    padding: 5px 10px;
    margin: 1px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}
.btn-cta:hover{
    background-color: #ff0000;
    color: #fff;
}